body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.75fr 4fr;
}

.header{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    box-shadow: 5px 4px 10px 0px grey;
    background-color: white;
    border-left: 1px solid;
    border-bottom:1px solid ;

}

.upper{
    display: grid;
    grid-template-columns:2fr 1fr ;
    padding: 0px 50px;
    align-items: center
}



.searchbar p{
    display: flex;
    flex-direction: column;
}

.searchbar input[type=text]{
    border: 1px solid;
    padding: 10px;
    background-color: white;
}

.user-info ul{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    justify-items: center;
    align-items: center;
    gap:25px;
}

.user-info input[type=image]{
    height:auto;
    width: 25px;
    border-radius: 10px;
}

.user-info p{
    font-weight: bold;
    margin: 0px;
}

.user-info .icon{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}


.lower{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding:10px 50px;
    border-top: 1px solid;
}

.greeting{
    display: flex;
    gap: 15px;
}

.greeting input[type=image]{
    height: auto;
    width: 60px;
    border-radius: 100px;
}

.greeting p{
    font-weight: bold;
    width: 150px;
}

.user-actions ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.user-actions button{
    background-color: white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    height: 30px;   
    border-radius: 20px;
    border: 0px;

}


.sidebar{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr;
    padding: 30px;
    padding-bottom: 0px;
    background-color: white;
    gap: 50px;
}

.sidebar .heading{
    display: flex;
    align-items: center;
    font-weight: bold;
    
}

.sidebar .heading p{
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar .heading input[type=image]{
    height: auto;
    width: 40px;
}

.navigation-bar{
    display: flex;
    align-items: center;
}

.navigation-bar button, .user-settings button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}

.navigation-bar img, .user-settings img{
    height: auto;
    width: 25px;
}

.navigation-bar ul{
    display: grid;
    gap: 40px;
    padding: 0px;
    margin:0px;
}


.user-settings ul{
    display: grid;
    gap: 40px;
    padding:0px;
    margin: 0px;
}

.main-content{
    padding: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
    background-color: white;

}

.article{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
}

.article .card{
    padding: 0px 15px;
    border: 0px;
    border: 1px solid ;
}

.article .title{
    font-weight: bold;
}

.announcements{
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    gap:5px;
}

.announcements-content{
    display: grid;
    gap: 10px;
}

.announcements .heading p{
    font-weight: bold;
}

.announcements .title {
    font-weight: bold;
    margin: 0px;
}

.announcements p{
    margin: 0px;
}

.announcements .card{
    padding:25px  ;
    border: 0px;
    border: 1px solid ;
}

.trending{
    display: grid;
    grid-template-rows:0.1fr 2fr ;
    gap: 5px;
}

.trending .heading p{
    font-weight: bold;
    margin: 0px;
}

.trending .card{
    padding: 20px 25px;
    padding-left: 30px;
    border: 1px solid ;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
}

.trending .card img{
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

.trending .card p{
    font-weight: 700;
}

.card{
    background-color: white;
}

ul{
    list-style-type: None;
}

